[package]
name = "webb-relayer"
version = "0.1.0-beta.1"
authors = ["Shady Khalifa <shekohex@gmail.com>"]
edition = "2018"

[dependencies]
parking_lot = "^0.11"
once_cell = "^1.8"
anyhow = "^1"
async-trait = "^0.1"
async-stream = "^0.3"
log = "^0.4"
env_logger = "^0.8"
url = "^2.2"
futures = { version = "^0.3", default-features = false }
serde = { version = "^1", default-features = false, features = ["derive"] }
tokio = { version = "^1", features = ["full"] }
config = { version = "0.11", default-features = false, features = ["toml", "json"] }
serde_json = { version = "^1", default-features = false }
webb = { version = "0.1.0", git = "https://github.com/webb-tools/webb-rs.git" }
structopt = { version = "^0.3", features = ["paw"] }
paw = "^1.0"
directories-next = "^2.0"

# just to make it compile on linux where the openssl is not available.
# until ethers-rs solve this issue: https://github.com/gakonst/ethers-rs/issues/325
native-tls = { version = "^0.2", features = ["vendored"] }

[dependencies.tungstenite]
package = "async-tungstenite"
version = "^0.13"
default-features = false
features = ["tokio-runtime", "tokio-rustls"]

[dev-dependencies]
sp-keyring = "^3"
curve25519-dalek = "^3"
bulletproofs = { package = "webb-bulletproofs", version = "^2", default-features = false, features = ["yoloproofs"] }
bulletproofs-gadgets = "^2"
merlin = "^2"

[features]
default = []
integration-tests = []

