WEBB_EVM_GANACHE_ENABLED=true

# .env used for the rust relayer environment
# mnemonic: "congress island collect purity dentist team gas unlock nuclear pig combine sight"
GANACHE_PRIVATE_KEY=0xc0d375903fd6f6ad3edafc2c5428900c0757ce1da10e5dd864fe387b32b91d7e

# The relayer to test
RELAYER_ENDPOINT_HTTP=
RELAYER_ENDPOINT_WS=

# Uncomment the endpoints with which you want to test for stability
HARMONY_ENDPOINT=https://api.s1.b.hmny.io
# BERESHEET_ENDPOINT=http://beresheet3.edgewa.re:9933
# RINKEBY_ENDPOINT=https://rinkeby.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
# GANACHE_ENDPOINT=http://localhost:8545

# The private key with funds for the uncommented network endpoints
PRIVATE_KEY=
