name: run

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  # code coverage job
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-05-15

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Run Tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: '--avoid-cfg-tarpaulin --out Xml --locked --jobs 8 --timeout 3600 --skip-clean -- --test-threads 8 '

      - name: Upload CodeCov
        uses: codecov/codecov-action@v3